/* Start variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-margin: 100px;
    --section-background: #f6f6f6;
}

/* End variables */
/* Start Global Rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End global rules */
/* Start special components */
.special-heading {
    margin: 0;
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -3px;
    text-align: center;
}

.special-heading+p {
    margin: -30px 0 0;
    font-size: 20px;
    color: #797979;
    text-align: center;

}

@media (max-width: 768px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin: -20px 0 0;
    }
}

/* End special components */
/* Start Header */
header {
    padding: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 60px;
}

header .links {
    position: relative;
}

header .links .icon {
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

header .links .icon span {
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
    background-color: #333;
}

header .links .icon span:nth-child(2) {
    width: 60%;
    transition-duration: 0.3s;
}

header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

header .links ul {
    list-style: none;
    margin: 0;
    min-width: 200px;
    padding: 0;
    display: none;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
}

header .links ul::after {
    content: "";
    position: absolute;
    top: -20px;
    border: 10px solid aliceblue;
    right: 5px;
    border-color: transparent transparent aliceblue transparent;
}

header .links:hover ul {
    display: block;
}

header .links ul li {
    background-color: aliceblue;
}

header .links ul li a {
    display: block;
    padding: 15px;
    transition-duration: 0.3s;
    text-decoration: none;
    color: #333;

}

header .links ul li a:hover {
    padding-left: 25px;
}

header .links ul li:not(:last-child) a {
    border-bottom: 2px solid #ddd;
}


/* End Header */
/* Start landing section  */
.landing {
    background-image: url("../images/langding-page.png");
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .intro-text {
    display: flex;
    flex-direction: column;
    width: 300px;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

.landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    font-size: 50px;
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}

/* End landing section  */
/* Start features section  */
.features {
    padding: var(--section-padding) 0;
    background-color: var(--section-background);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    color: var(--main-color);
}

.features .feat h3 {
    margin: 30px 0;
    font-weight: 800;
}

.features .feat p {
    margin: 0;
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

/* End features section  */
/* Start Services section  */
.services {
    padding: var(--section-padding) 0;
}

.services .services-content {
    margin-top: var(--section-margin);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}

.services .services-content .srv {
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
}

.services .services-content h3 {
    margin-top: 0;
}

.services .services-content p {
    color: #777;
    font-weight: 300px;
    line-height: 1.8;
}

.services .services-content i {
    color: var(--main-color);
}

@media (max-width:767px) {
    .services .services-content .srv {
        flex-direction: column;
        align-items: center;
    }

    .services .services-content .text {
        text-align: center;
    }
}

.services .services-content .col .image {
    position: relative;
    text-align: center;
}

.services .services-content .col .image img {
    width: 260px;
}

.services .services-content .col .image::before {
    content: "";
    height: 120%;
    width: 100px;
    z-index: -1;
    position: absolute;
    background-color: var(--secondary-color);
    right: 0px;
    transform: translate(0, -10%);
}

@media (max-width:1199px) {
    .services .services-content .col .services-image {
        display: none;
    }
}

/* End Services section  */
/* Start Portfolio section  */
.portfolio {
    padding: var(--section-padding) 0;
    background-color: #f6f6f6;
}

.portfolio .portfolio-content {
    margin-top: var(--section-margin);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.portfolio .portfolio-content .col {
    background-color: white;
}

.portfolio .portfolio-content .col img {
    max-width: 100%;
}

.portfolio .portfolio-content .col .text {
    padding: 20px;
}

.portfolio .portfolio-content .col h3 {
    margin-top: 0;
}

.portfolio .portfolio-content .col p {
    line-height: 1.8;
    color: #777;
    margin-bottom: 0;
}

/* End Portfolio section  */
/* Start about section  */
.about {
    padding: var(--section-padding) 0;
    padding-bottom: calc(var(--section-padding) + 60px);
}

.about .about-content {
    margin-top: var(--section-margin);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about .about-content .image {
    width: 250px;
    height: 375px;
    position: relative;
}

.about .about-content .image::before {
    content: "";
    position: absolute;
    height: 120%;
    width: 100px;
    background-color: #ebeced;
    z-index: -1;
    transform: translate(-50%, -10%);
}

.about .about-content .image::after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    height: 100%;
    width: 200px;
    background-color: transparent;
    z-index: -1;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    transform: translate(-40px, -40px);
}

.about .about-content img {
    width: 100%;
    height: 100%;
}

.about .about-content .text {
    width: calc(100% - 500px);
}

.about .about-content .text p:first-child {
    font-weight: 800;
    line-height: 1.8;
    margin: 16px 0 50px;
}

.about .about-content .text p:last-child {
    color: #777777;
    margin: 16px 0;
    line-height: 1.8;
}

.about .about-content .text hr {
    border: 1px solid var(--main-color);
    width: 50%;
    margin: 8px 0;
}

@media (max-width:991px) {
    .about .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about .about-content .image {
        margin-bottom: 60px;
    }

    .about .about-content .image::after,
    .about .about-content .image::before {
        display: none;
    }

    .about .about-content .text {
        width: 100%;
        text-align: center;
    }

    .about .about-content .text hr {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* End about section  */
/* Start contact section */
.contact {
    padding: var(--section-padding) 0;
    background-color: var(--section-background);
}

.contact .info {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact .info .label {
    font-size: 30px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
    margin-top: 0;
}

.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}

.contact .info .social {
    padding: 35px 0;
    display: flex;
    gap: 15px;
    font-size: 16px;
}

.contact .info .social i {
    color: var(--secondary-color);
}

@media (max-width:767px) {

    .contact .info .link,
    .contact .info .label {
        font-size: 25px;
    }
}

/* End contact section */
/* Start footer section  */
.footer {
    background-color: var(--secondary-color);
    text-align: center;
    color: white;
    padding: 30px 0;
    font-size: 18;
}

.footer span {
    color: var(--main-color);
    font-weight: bold;
}

/* End footer section  */